body{
	background-color: #cfd8dc;
}
.row{
	margin-bottom: 0px;
}
@media only screen and (max-width: 600px){
	.row .col{
		padding: 0px;
	}
}
.collapsible li.disabled .collapsible-body {
    display: none !important; /*or using id of the app to avoid the use of !important*/
}

.collapsible li.disabled .collapsible-header {
    background: rgb(221,221,221);
}
.outer-wrapper{
	border: 1px solid #ccc;
    min-height: 100vh !important;
    background: #fff;
    padding: 0px !important;
}
::-webkit-scrollbar
{
	display: none;
}
.preload{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}