<div class="inputDiv">
	<div contenteditable="true" class="inputBox" #msgDiv [(contenteditableModel)]="content" [contenteditableHtml]=true></div>
	<i class="material-icons emojiBtn" 
	    (click)="toggled = !toggled"
	    [(emojiPickerIf)]="toggled"
	    [emojiPickerDirection]="'top'"
	    [emojiPickerPreserveSelection]="true || false"
	    [emojiPickerAutofocus]="true || false"
	    (emojiPickerSelect)="handleSelection($event)">insert_emoticon</i>
	    <button class="btn btn-flat green-text sndBtn" (click)="send();content=''" [disabled]="content.length==0"><i class="material-icons">send</i></button>
 </div>