<div>
	<div *ngIf="toUser != undefined">
		<nav>
		    <div class="nav-wrapper">
		      <div class="brand-logo left">
		      <a href="javascript:void(0)" class="middle" routerLink="/home"><i class="material-icons hide-on-med-and-up">arrow_back</i>
		      </a>
		      <img [src]="toUser | userinfo:'image'" class="middle circle">
		      <span class="middle">{{toUser.fullName}}</span></div>
		    </div>
		</nav>
		<div class="messages" #msgDiv>
			<div *ngFor = "let msg of messages;let i = index">
				<div *ngIf="i == 0 || msg.time.substring(0,10) != messages[i-1].time.substring(0,10)" class="date center-align">{{msg.time | date:"dd MMMM yy"}}
				</div>
				<div class="message" [class.sent]="msg.to == toUser.email">
					<div class="msgTxt" [innerHTML]="msg.msg | emoji">
						
					</div>
					<div class="clearfix"></div>
					<div class="time">{{msg.time | date:'HH:mm'}}</div>
				</div>
				
				
			</div>
			<div *ngIf="messages.length ==0 && toUser.status == 'F'" class="center-align">
				<h6>You and {{toUser.fullName}} are friends. Start chatting</h6>
			</div>
			<div *ngIf="toUser.status == 'S'" class="center-align">
				<h6>Request has been sent</h6>
			</div>
			<div *ngIf="toUser.status == 'R'" class="center-align">
				<h6>Request has been Reject</h6>
			</div>
		</div>
		<emoji-input (onSend)="sendMessage($event)"></emoji-input>
	</div>
		<div class="" *ngIf="toUser == undefined">
			<br>
			<br>
			<br>
		  	<div class="center-align"><span>Select a friend to start chat</span></div>
		</div>

</div>