<div class="row">
<div class="col s12 l6 offset-l3 m8 offset-m2">
    <h3>Password Reset</h3>
   <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeActions]="actions1">
      <li [class.disabled]="isUserInfoCrct">
        <div class="collapsible-header" [class.active]="!isUserInfoCrct" >Account Details</div>
        <div class="collapsible-body">
         <div class="row">
            <form class="col s12" [formGroup]="userInfoForm" (ngSubmit)="checkUserInfo()" #userInfoForm1="ngForm">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="email" id="email" formControlName="email" [ngClass]="{'invalid':(userInfoForm.get('email').hasError('required') || userInfoForm.get('email').hasError('email'))  && userInfoForm.get('email').touched} ">
                      <label for="email">Email</label>
                      <div class="red-text" [hidden]="!(userInfoForm.get('email').hasError('required') && userInfoForm.get('email').touched)">
                        Email is required.
                      </div>
                      <div class="red-text" [hidden]="!((!userInfoForm.get('email').hasError('required') && userInfoForm.get('email').hasError('email')) && userInfoForm.get('email').touched)">
                        Invalid email format.
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="dob" id="dob" formControlName="dob" materialize="pickadate" [materializeParams]="[{selectYears: true,selectMonths: true,min:minDate,max:maxDate,close:'Ok'}]" [ngClass]="{'invalid':userInfoForm.get('dob').hasError('required')  && userInfoForm.get('dob').touched} ">
                      <label for="dob">Date Of Birth</label>
                      <div class="red-text" [hidden]="!(userInfoForm.get('dob').hasError('required') && userInfoForm.get('dob').touched)">
                        Date of Birth is required 
                      </div>
                    </div>
                  </div>
              </form>
               <div class="red-text" [hidden]="!showError">
                        Information entered is not matched.
                </div>
            </div>
        </div>
      </li>
      <li [class.disabled]="!isUserInfoCrct">
        <div class="collapsible-header" [class.active]="isUserInfoCrct">New Password</div>
        <div class="collapsible-body">
             <div class="row">
              <form class="col s12" [formGroup]="newPassForm" (ngSubmit)="setNewPassword()" #newPassForm1="ngForm">
                  <div class="row">
                  <div class="input-field col s12">
                    <input type="password" name="password" id="password" formControlName="password" [ngClass]="{'invalid':(newPassForm.get('password').hasError('required') || newPassForm.get('password').hasError('pattern')) && newPassForm.get('password').touched} ">
                    <label for="password">Password</label>
                    <div class="red-text" [hidden]="!(newPassForm.get('password').hasError('required') && newPassForm.get('password').touched)">
                      Password is required.
                    </div>
                    <div class="red-text" [hidden]="!(newPassForm.get('password').hasError('pattern') && newPassForm.get('password').touched)">
                      Password should be min. 8 characters with one special character.
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </li>
  </ul>
    <div class="right-align">
      <button class="btn wave-effect wave-light" routerLink="/">Cancel</button>
      <button class="btn wave-effect wave-light" [class.hide]="isUserInfoCrct" (click)="userInfoForm1.ngSubmit.emit()" [disabled]="userInfoForm.invalid">Next</button>
      <button class="btn wave-effect wave-light" [class.hide]="!isUserInfoCrct" (click)="newPassForm1.ngSubmit.emit()" [disabled]="newPassForm.invalid">Finish</button>
    </div>
    </div>
</div>
        