<div>
	<div class="collection" *ngIf="!(users==undefined || (users | sort).length == 0)">
		<a *ngFor="let user of users | sort" class="collection-item avatar waves-effect wave-light"  (click)="changeUser(user)" [class.hide]="user.email == currentUser.email">
			<img [src]="user | userinfo:'image'" class="circle" [class.online]="user | userinfo:'online'">
			<span class="new badge" [hidden]="user.unread==0">{{user.unread}}</span>
			<span>{{user.fullName}}</span>
		</a>
	</div>
	<div *ngIf="users==undefined || (users | sort).length == 0">
		<p class="center align">Click <i class="material-icons">people</i> to add new friends.</p>
	</div>
</div>