.material-icons{
	vertical-align: bottom;
}
.collection .collection-item{
	display: block;
}
.collection .collection-item.avatar {
    min-height: 27px;
    padding-left: 55px;
}
.collection .collection-item.avatar .circle {
	width: 30px;
	height: 30px;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
}
.online{
	border:3px solid #26a69a;
}