.wrapper{
	display: flex;
	flex-direction: column;
	height: 100vh;	
}
.collection .collection-item.avatar{
	padding-right: 40px;
}
.collection .collection-item.avatar img{
	cursor: pointer;
}
.collection .collection-item.avatar .secondary-content {
	top:50%;
	transform: translateY(-50%);
}
nav .nav-wrapper{
	padding:0px 10px;
}
nav .brand-logo{
	font-size: 1.5rem;
}
.online{
	border:3px solid #26a69a;
}