<div class="row">
	<div class="col s6 offset-s3">
	<h1>Sign in</h1>
	<div class="row">
		<form class="col s12" [formGroup]="signinForm" (ngSubmit)="login()">
			<div class="row">
				<div class="input-field col s12">
						<input type="text" name="email" id="email" formControlName="email" [ngClass]="{'invalid':(signinForm.get('email').hasError('required') || signinForm.get('email').hasError('email'))  && signinForm.get('email').touched} ">
					<label for="email">Email</label>
					<div class="red-text" [hidden]="!(signinForm.get('email').hasError('required') && signinForm.get('email').touched)">
						Email is required.
					</div>
					<div class="red-text" [hidden]="!((!signinForm.get('email').hasError('required') && signinForm.get('email').hasError('email')) && signinForm.get('email').touched)">
						Invalid email format.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="password" name="email" id="password" formControlName="password" [ngClass]="{'invalid':signinForm.get('password').hasError('required')   && signinForm.get('password').touched} ">
					<label for="password">Password</label>
					<div class="red-text" [hidden]="!(signinForm.get('password').hasError('required') && signinForm.get('password').touched)">
						Password is required.
					</div>
				</div>
			</div>
			<div class="row" [hidden]="!loginError">
				<div class="col s12 red-text center">
					Invalid email/password
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<a routerLink="/signup">New User? Click here to sign up</a>
				</div>
				<div class="col s6 right-align">
					<input type="submit" name="" [disabled]="signinForm.invalid" value="Login" class="btn">
				</div>
			</div>
		</form>
	</div>
	</div>
</div>